node_modules/
dist/
build/
coverage/
package-lock.json


.vite/


.env
.env.*
local.properties


npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.cache/
*.cache

*.iml

# Test reports
test/reports/